{
  "project_info": { "project_number": "000000000000", "project_id": "ccpocket-placeholder" },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": { "package_name": "com.panda.ccpocket" }
      },
      "api_key": [ { "current_key": "AIzaPlaceholderKeyForLocalDevBuildsOnly0000" } ],
      "oauth_client": [],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    }
  ],
  "configuration_version": "1"
}
